/* on narrow device, reduce margins */
@media (min-width: 940px) {
  .franklin-content {
    width: 100%;
  }
}

@media (min-width: 1024px) {
  .franklin-content {
    width: 75%;
    /*padding-left: 20%;*/
    /*padding-right: 5%;*/
  }
}

pre {
  font-size: 17px;
}

.franklin-content code {
  font-size: 14px;
}

.franklin-content .hljs {
  font-size: 14px;
}

blockquote {
  font-size: 90%;
}

.fndef-content {
  line-height: 1.5em;
}

.franklin-content h1 {
  padding-bottom: 0.5em;
  margin-top: 1.5em;
  margin-bottom: 1em;
  color:#e54252;
}

.franklin-content a {
  text-decoration: none;
  color:#e54252;
}

/* For some reason,
 * `h1, h2, h3 { a { color: ... } a:visited { color: ... } }` didn't work.
 */
h1 a { color: #81353c; !important; }
h2 a { color: #81353c !important; }
h3 a { color: #81353c !important; }
h4 a { color: #81353c !important; }
h5 a { color: #81353c !important; }

h1 a:visited { color: #81353c !important; }
h2 a:visited { color: #81353c !important; }
h3 a:visited { color: #81353c !important; }
h4 a:visited { color: #81353c !important; }
h5 a:visited { color: #81353c !important; }


.jp-logo {
    background-image: url("/assets/logo.png");
    padding-right:10px;
    width:6%;
}

.news-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding:20px;
}

.news-block{
    border-style: solid;
    border-color:#f8d8d5;
    border-width:1px;
    margin:-5px;
    padding:20px;
    font-family: nyt-cheltenham,georgia,'times new roman',times,serif;
    color:#5A5A5A;
    font-size:12px;
}

.news-block a{
    color:#e54252;
    font-family: nyt-cheltenham,georgia,'times new roman',times,serif;
    font-size: 18px;
    line-height: 0.5em;
}

.news-block p{
    font-family: nyt-cheltenham,georgia,'times new roman',times,serif;
    font-size:13px;
    color:#5A5A5A;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    line-height: 1.5em;
}

.news-block img{
    width:25px;
    padding:0px;
}

.franklin-content p{
    font-family: nyt-cheltenham,georgia,'times new roman',times,serif;
    font-size:16px;
}
